<!--<link rel="stylesheet" href="/static/bulma/bulma.css">-->
<script src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/components.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
